# Unity generated directories
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/

**/[Mm]emoryCaptures/
**/[Rr]ecordings/
**/ExportedObj/

# Visual Studio
**/.vs/

# Android/Gradle cache
**/.gradle/

# Generated project files
*.unityproj
*.sln
*.slnx
*.csproj
*.csproj.user
*.suo
*.user
*.tmp
*.opendb
*.VC.db

# Debug symbols
*.pdb
*.mdb
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Builds and exported packages
*.apk
*.aab
*.app
*.unitypackage

# Addressables generated content
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/